// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-bokara-grey: #141211;
$color-hint-of-red: #f4f3f2;
$color-grey-goose: #d7cfcb;
$color-kangaroo: #c8c8b6;
$color-martini: #AEA29A;
$color-silver: #C7C9CC;
$color-mercury: #EAE6E5;
$color-silk: #B5AFA6;
$color-grey-shateau: #A8A9AE;
$color-moon-mist: #DEDED2;

$color-bokara-grey-40: rgba(20, 18, 17, 0.4);
$color-black-40: rgba(0, 0, 0, 0.04);
$color-black-80: rgba(0, 0, 0, 0.08);

// Typography
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
